<article class="card">

    {% if post.cover %}
        {% if post.cover_public %}
            <div class="card-cover-wrapper ">
                <a class="cover-link" href="{% url "blog:post" post.slug %}">
                    <img class="card-cover" src="{{post.cover.url}}" alt="post.title" loading="lazy">
                </a>
            </div>
        {% else %}
            <DIV class="cover-spacing"></DIV>
        {% endif %}

    {% else %}
        <div class="card-cover-wrapper ">
            <a class="cover-link" href="{% url "blog:post" post.slug %}">
                <img class="card-cover" src="/utils/sem-imagem.jpg" alt="post.title" loading="lazy">
            </a>
        </div>
    {% endif %}

    <div class="card-text-wrapper">
        <div class="card-title-wrapper">
            <a class="card-title-link" href="{% url "blog:post" post.slug %}">
                <h2 class="card-title">{{post.title}}</h2>
            </a>
        </div>

        <div class="card-content-wrapper">
            <div class="card-content">
                <p>{{post.excerpt}}</p>
            </div>
        </div>
    </div>

    <div class="card-actions">
        <a class="card-action-link" href="{% url 'blog:post' post.slug %}">
            <span>Read</span>
            <i class="fa-solid fa-circle-arrow-right"></i>
        </a>
    </div>

</article>