<header class="width-wide section-gap">
    <div class="section-content">
        <div class="heading center">
            <h1><a href="{% url "blog:index" %}">{{setup.title}}</a></h1>
        </div>

        <div class="description center">
            <p class="description-content">{{setup.description}}</p>
        </div>

        <div class="search center">
            <form class="search-form" action="{% url "blog:search" %}" method="get" >
                <div class="search-content">
                    <input
                    class="search-input" 
                    type="text"
                    id="search"
                    name = "search"
                    placeholder="Search">

                    <button type="submit" class="search-btn">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>

        <nav class="menu">
            <ul class="menu-list">

                {% for link in setup.menulink_set.all %}
                    {% if link.new_tab %}
                        <li class="menu-item">
                            <a href="{{link.url_or_file}}" target="_blank">{{link.text}}</a>
                        </li>
                    {% else %}
                        <li class="menu-item">
                            <a href="{{link.url_or_file}}">{{link.text}}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
        
    </div>
</header>