    <div>
    
    {% if pagina_objetos.has_previous %}
        <a href="?pagina=1"><i class="fa-solid fa-arrow-right"></i></a>
        <a href="?pagina={{ pagina_objetos.previous_page_number }}"></a>
    {% endif %}

    <span>{{ pagina_objetos.number }} / {{ pagina_objetos.paginator.num_pages }}</span>

    {% if pagina_objetos.has_next %}
        <a href="?pagina={{ pagina_objetos.next_page_number }}">Próxima</a>
        <a href="?pagina={{ pagina_objetos.paginator.num_pages }}">Última</a>
    {% endif %}
    
    </div>