{% extends "blog/base.html" %}

{% block content %}
    <div class="post width-narrow">
        {% if post.cover %}
            <img src="{{post.cover.url}}" alt="">
        {% endif %}
        <h1 class="center">{{post.title}}</h1>
        <div class="post-info-wrapper">
            <ul class="post-info">
                <li class="info"><span><i class="fa-solid fa-calendar-days"></i> {{post.create_at | date:'d/m/Y' }}</span></li>
                <li class="info"><span> <i class="fa-solid fa-user"></i><a href="{% url "blog:created_by" post.created_by.id %}"> {{post.created_by}}</a></span></li>
                <li class="info"><span><i class="fa-solid fa-list"></i> <a href="{% url "blog:category" post.category.slug %}">{{post.category}}</a></span></li>
            </ul>
        </div>

        <p>{{post.excerpt}}</p>
        
        
        {{post.content | safe}}
        {% if post.tag.all.exists %}
            <span>Tags: </span>
                {% for tag in post.tag.all %}
                <a href="{% url "blog:tag" tag.slug %}"><i class="fa-solid fa-link"></i><span>{{tag.name}}</span></a>    
                {% endfor %}
        {% endif %}
    </div>

    
{% endblock content %}